.avatar-show-img {
    height: 128px;
    width: 128px;
}

.well.profile-block {
    color: white;
    h3 {
        margin-top: 0;
    }
}

.well.profile-description {
  background-color: #055C0C;
  border-color: #033B08;
}

.well.profile-contact-info {
  background-color: #0F0F99;
  border-color: #0F1B6F;
}